@{
    ViewData["Title"] = "Home Page";
}
@{ Layout = "_Layout"; }

<div class="text-center">
    <h1 style="color:black" class="display-3">Welcome</h1>
    <p>Learn about <a href="https://instagram.com/terlannemat?igshid=1vhvjbonwe0be">first Oblivion's</a>.</p>
    <div>Site made by <a href="https://www.instagram.com/terlannemat/?hl=en" title="Terlan">Oblivion</a></div>
    <link rel="shortcut icon" type="image/ico" sizes="50%" href="~/instagram.ico" />

    <a href="https://www.instagram.com/freepik" target="_blank" rel="nofollow noopener noreferrer" class="button button--sm button--icon button--instagram">
        <i class="icon--instagram">

        </i>
    </a>
</div>

