@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="nav-link">@ViewData["Title"]</h1>

<p class="nav-link">Welcome to our Oblivion's page.Trust us you are safe in this page.Lets use your skills like a oblivion's.</p>
